site_name: sb-cli
theme:
  name: material
  logo: assets/icon.svg
  favicon: assets/icon.svg
  icon:
    repo: fontawesome/brands/github
    annotation: material/chevron-right-circle
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to system theme
    - scheme: default
      # primary: black  # override in custom.css
      accent: dark orange
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      # primary: black  # override in custom.css
      accent: dark orange
      media: "(prefers-color-scheme: dark)"
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.indexes
    - navigation.footer
    - header.autohide
    - announce.dismiss
    - toc.follow
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy

nav:
  - "Getting Started":
    - index.md
    - "Installation": installation.md
    - "Authentication": authentication.md
    - "Quick Start": quick-start.md
  - User Guide:
    - Overview: user-guide/index.md
    - Get Quotas: user-guide/get-quotas.md
    - Submit: user-guide/submit.md
    - Get Report: user-guide/get-report.md
    - List Runs: user-guide/list-runs.md
    - Delete Run: user-guide/delete-run.md
markdown_extensions:
  - sane_lists
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.magiclink
  - footnotes
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search
  - glightbox

extra_css:
  - css/custom.css